/* My styles will be in here :) */
.navbar-dark {
  background: #00B0FF;
}

body {
  padding: 100px;
}

.tooltip-background, .tooltip-arrow {
  stroke: white; 
  fill: rgba(245, 245, 245, 0.747);
}

.navbar-nav {
  padding-top: 1px;
}