/* My styles will be in here :) */
.navbar-dark {
  background: #00B0FF;
}

.navbar-nav {
  padding-top: 1px;
  width: 100%;
  justify-content: space-between;
}

.navbar-brand {
  margin-right: 10px;
}

.number-style {
  font-family: Calibri;
  font-size: 15px;
}

.navbar .row {
  justify-content: space-between;
}

/* For medium sized screens and larger: */
@media (min-width: 768px) {
}

.card-header, .list-group-item {
  padding: 6px 10px;
}

.card {
  z-index:2000;
}

.dropdown-menu {
  z-index: 3000;
}

.viz {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.my-tooltip:hover {
  z-index: 2000;
} 