/* My styles will be in here :) */
.navbar-dark {
  background: #00B0FF;
}

body {
  padding: 57px;
}

.tooltip-background, .tooltip-arrow {
  stroke: white; 
  fill: rgba(245, 245, 245, 0.747);
}

.navbar-nav {
  padding-top: 1px;
  width: 100%;
  justify-content: space-between;
}

.navbar-brand {
  margin-right: 10px;
}

.number-style {
  font-family: Calibri;
  font-size: 16px;
}

.navbar .row {
  justify-content: space-between;
}
