/**************************************************************************************
  *                          © 2019 Roshini Saravanakumar                             *
  ************************************************************************************* */

/* This file contains styles specific to danger.html and danger.js */ 

.highlight {
  color: #ff3300;
}

.tick text, .label {
  /* Following Bootstrap typography using system ui fonts */ 
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  font-size: 5px;
}

#slider-svg {
  width: 100%;
  height: 50px;
}

#slider-axis .tick text {
   /* Following Bootstrap typography using system ui fonts */ 
   font-family: -apple-system, BlinkMacSystemFont,
   “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
   “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
   sans-serif;
  font-size: 10px;
  pointer-events: none;
  user-select: none;
}